*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgba(230, 230, 230, 0.172);
}
img{
    width: 50%;
}
p{
    width: 50%;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 0.8rem;
}